
      <!-- ################################################################################################ -->
      <div class="btmspace-80 center">
        <h2 class="heading nospace">Semper turpis eget</h2>
        <p class="nospace">Maximus arcu dictum a nunc molestie odio sit amet ipsum</p>
      </div>
      <ul class="nospace group">
        {% for post in posts %}
        <li class="one_quarter first">
          <article class="excerpt"><a href="#"><img src="{{ post.image.url }}" alt=""></a>
            <div class="excerpttxt">
              <h6 class="heading font-x1">{{ post.title }}</h6>
              <p>{{ post.description|truncatewords:10 }}</p>
              <footer><a class="btn" href="{% url 'detail_data' post.id %}">Read More &raquo;</a></footer>
            </div>
          </article>
        </li>
      </ul>
      {% endfor %}
      <!-- ################################################################################################ -->